<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue JS</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <style></style>
</head>
<body>
<h3>Setter and Getter function of Computed Property</h3> 
<div id="myapp" >    
    <div>FirstName : <input type="text" v-model="fname"></div>
    <div>&nbsp;</div>
    <div>LastName : <input type="text" v-model="lname"></div>
    <div>&nbsp;</div>
    <div>Full Name : <input type="text" v-model="fullName"> </div>
    <div>&nbsp;</div>
    <div>Channel Name : <strong>{{channelName}}</strong></div>
    <div>&nbsp;</div>
</div>
<script src="v17.js" ></script> 
</body>
</html>